<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="monoandroid81" developmentDependency="true" />
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="monoandroid81" />
  <package id="Corcav.Behaviors" version="2.3.7" targetFramework="monoandroid81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="monoandroid81" />
  <package id="FormsToolkit" version="2.0.1" targetFramework="monoandroid81" />
  <package id="FreshMvvm" version="2.2.4" targetFramework="monoandroid81" />
  <package id="Humanizer" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.af" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ar" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.bg" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.bn-BD" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.cs" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.da" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.de" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.el" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.es" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fa" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fi-FI" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fr" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fr-BE" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.he" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.hr" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.hu" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.id" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.it" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ja" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.lv" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nb" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nb-NO" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nl" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.pl" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.pt" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ro" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ru" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sk" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sl" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sr" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sr-Latn" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sv" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.tr" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uk" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.vi" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-CN" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-Hans" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-Hant" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter" version="1.8.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.8.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.8.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Distribute" version="1.8.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Push" version="1.8.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.1.1" targetFramework="monoandroid81" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="monoandroid81" />
  <package id="Microsoft.Identity.Client" version="1.1.4-preview0002" targetFramework="monoandroid81" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="monoandroid81" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="monoandroid81" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="monoandroid81" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.1" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="monoandroid81" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="MonkeyCache" version="0.1.0.10-beta" targetFramework="monoandroid81" />
  <package id="MonkeyCache.FileStore" version="0.1.0.10-beta" targetFramework="monoandroid81" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid81" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid81" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="monoandroid81" />
  <package id="Polly" version="6.1.0" targetFramework="monoandroid81" />
  <package id="Refit" version="4.6.30" targetFramework="monoandroid81" />
  <package id="Refractored.MvvmHelpers" version="1.3.0" targetFramework="monoandroid81" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Buffers" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Console" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="monoandroid81" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Memory" version="4.5.1" targetFramework="monoandroid81" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="monoandroid81" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Reflection.TypeExtensions" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="monoandroid81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="monoandroid81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.CirclePageIndicator" version="1.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CustomTabs" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.VerticalViewPager" version="1.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.Essentials" version="0.9.1-preview" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading" version="2.4.3.840" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.3.840" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.3.840" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.AppIndexing" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Common" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Iid" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Messaging" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms.AppLinks" version="3.1.0.697729" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms.Maps" version="3.1.0.697729" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.AppIndexing" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
</packages>