@model ErrorViewModel
@{
    ViewData["Title"] = "Not Found";
}


<div >
    <div class="container">
        <br />
        <div class="jumbotron">
            <h1 class="display-4">Oooops!</h1>
            <p class="lead">We cant seem to find the page or item you're looking for.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/" role="button">Return Home</a>
        </div>

    </div>
</div>
