@{
    ViewData["Title"] = "Home Page";
}

<div id="profile-header" class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="#" class="header-icons icon-circle d-inline-block rounded-circle"><i class="fas fa-robot" ></i></a>
            </div>
            <div class="col text-center ">
                <img class="center-block profileimage" src="https://www.gravatar.com/avatar/000" />
                <h2>Anonymous</h2>
            </div>
            <div class="col text-center">
                <a href="/Settings"  class="header-icons icon-circle d-inline-block rounded-circle"><i class="fas fa-cog" ></i></a>
            </div>
        </div>

      

    </div>
</div>
<div class="banner">
    <h1 class="display-3  text-center ">You're crushing it!</h1>
</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <h3>Jobs Completed</h3>
                <div class="row">
                    <div class="col">
                        <h1>203</h1>
                        <small class="text-muted">August</small>
                    </div>
                    <div class="col">
                        <h1>434</h1>
                        <small class="text-muted">July</small>
                    </div>
                </div>

            </div>
            <div class="carousel-item text-center">
                <h3>Assigned Jobs</h3>
                <div class="row">
                    <div class="col">
                        <h1>2</h1>
                        <small class="text-muted">In Progress</small>
                    </div>
                    <div class="col">
                        <h1>8</h1>
                        <small class="text-muted">Waiting</small>
                    </div>
                </div>
            </div>
            <div class="carousel-item text-center">
                <h3>Order Status</h3>
                <div class="row">
                    <div class="col">
                        <h1>2</h1>
                        <small class="text-muted">Ready</small>
                    </div>
                    <div class="col">
                        <h1>4</h1>
                        <small class="text-muted">On Order</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br/>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="icon-circle d-inline-block rounded-circle">
                        <i class="fas fa-check"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Total Jobs Completed</h3>
                    <h1>4012</h1>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="icon-circle d-inline-block rounded-circle">
                        <i class="fas fa-wrench"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Total Engine Services</h3>
                    <h1>747</h1>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="icon-circle d-inline-block rounded-circle">
                        <i class="fas fa-car"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Total Kilometers</h3>
                    <h1>4,850</h1>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
    <hr />

</div>
